<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xjtu.iotlab.dao.FilesManagerMapper">
    <resultMap id="BaseResultMap" type="cn.xjtu.iotlab.vo.Files">
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="ParentId" jdbcType="INTEGER" property="ParentId"/>
        <result column="Name" jdbcType="VARCHAR" property="Name"/>
        <result column="Describe" jdbcType="VARCHAR" property="Describe"/>
        <result column="CreateUserName" jdbcType="VARCHAR" property="CreateUserName"/>
        <result column="CreateTime" jdbcType="DATE" property="CreateTime"/>
        <result column="EditTime" jdbcType="DATE" property="EditTime"/>
        <result column="EditBy" jdbcType="VARCHAR" property="EditBy"/>
        <result column="Type" jdbcType="INTEGER" property="Type"/>
        <result column="FileType" jdbcType="INTEGER" property="FileType"/>
        <result column="Size" jdbcType="INTEGER" property="Size"/>
        <result column="SuffixName" jdbcType="VARCHAR" property="SuffixName"/>

    </resultMap>

    <select id="getAllFileList" resultType="cn.xjtu.iotlab.vo.Files">
        select * from fileList
    </select>

    <insert id = "insertFiles" parameterType="cn.xjtu.iotlab.vo.Files">
        insert into fileList(Id,ParentId,`Name`,`Describe`,CreateUserName,CreateTime,EditTime,EditBy,`Type`,FileType,`Size`,SuffixName)
        values(#{Id},#{ParentId},#{Name},#{Describe},#{CreateUserName},#{CreateTime},#{EditTime},#{EditBy},#{Type},#{FileType},#{Size},#{SuffixName})
    </insert>

    <select id="searchById" resultMap="BaseResultMap">
        select * from fileList where Id=#{0}
    </select>

    <select id="getAllId" resultType="java.lang.Integer">
        select Id as Id from fileList
    </select>
</mapper>